 <div class="text-center">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
  <h2 class="text-center">Settings</h2>
    
  <%= f.error_notification %>

  <div class="form-group">
      
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", input_html: {class: "form-control"} %>
    
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", required: false, label: false, placeholder: "Password", input_html: {class: "form-control"} %>
    <%= f.input :password_confirmation, required: false, label: false, placeholder: "Password Confirmation", input_html: {class: "form-control"} %>
    <%= f.input :current_password, required: true, label: false, placeholder: "Current Password", input_html: {class: "form-control"} %>

    <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
  
  </div>
  <div class="form-group">
    <%= f.button :submit, "Update" %>
  </div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>