<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <h2 class="text-center">Forgot my password</h2>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "email", input_html: {class: "form-control"} %>

  </div>

  <div class="form-group">
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
