<div class="row">
	<h1 class="text-center">Dashboard</h1>

	<div class="col-md-4">
		<h3 class="text-center">
		    Produtos <%= link_to "Novo Produto", new_product_path, class: "btn btn-primary btn-sm" %>
		 </h3>

    <!-- Adicionar tabela -->

    		<table class="table table-condensed">
			<thead>

                                         <th>Id</th>
					<th>Nome</th>
					<th>Disponibilidade</th>
					<th></th>
			</thead>
			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= product.name %></td>
          <td><%= link_to product.name, product_path(product) %></td>
					<td><%= product.availability %></td>
					<td><%= link_to "Editar", edit_product_path(product) %></td>
					<td></td>
				</tr>
				<% end %>
		 </tbody>
	 </table>

    <!-- Adicionar Tabela -->

	</div>

	<div class="col-md-4">
		<h3 class="text-center">Comprado</h3>
	</div>

	<div class="col-md-4">
		<h3 class="text-center">Vendas</h3>
	</div>

</div>