<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="jumbotron">
    <h1>Seja Bem vindo a Nossa Loja</h1>
    <p>Um acervo enorme de itens para você</p>

    <%= link_to "Produtos", products_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>

<div class="row">
  <%= render @products %>
</div>