<%= simple_form_for(@product, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, label: false, placeholder: "Name", input_html: { class: "form-control"} %>
    <%= f.input :author, required: true, label: false, placeholder: "Author", input_html: { class: "form-control"} %>
    <%= f.input :desciption, required: true, label: false, placeholder: "desciption", input_html: { class: "form-control"}, rows: 5 %>
        <br>
    <%= f.input :price, required: true, label: false, placeholder: "price", input_html: { class: "form-control"} %>
        <%= f.input :image %>
       <%= f.input :resource %>

      <div class="checkbox text-center">
     <p>Availability</p>
      <%= f.input :availability, required: false, label: false %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
