  <div class="col-md-3">
    <div class="thumbnail"> <!-- Criar uma imagem menor -->
       <%= link_to product_path(product) do %>
	         <%= image_tag product.image.url(:original), class: "img-responsive" %> <!-- Adicionado -->
       <% end %>
    </div>
    



     <div class="caption"> 
      <p><strong><%= link_to product.name, product_path(product) %></strong></p>
      <p>R$<%= product.price.to_f / 100 %></p>
    </div>

  </div>