<div class="container">
	<div class="row">

		<div class="col-md-6">
      <%= image_tag product.image.url(:original), class: "img-responsive" %>
		</div>

		<div class="col-md-6">
      <h3><%= @product.name %> by <%= @product.author %></h3>
			<p class="justify"><%= @product.desciption %></p>
			<h4 class="text-right">R$<%= @product.price.to_f / 100 %></h4>
		</div>

	</div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
