<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
         <!-- Adicionar -->
  		<% flash.each do |type, message| %>
		  <div class="alert alert-info fade-in">
		 	<button class="close" data-dismiss="alert">X</button>
		 	<%= message %>
		  </div>
		<% end %>

		<div class="container">
			<%= yield %>
		</div>
</body>
</html>
